layout {
    // pane size=1 borderless=true {
    //     plugin location="file:~/.config/zellij/plugins/zellaude.wasm"
    //     // plugin location="tab-bar"
    // }
    pane size=1 borderless=true {
      // plugin location="status-bar"
      plugin location="file:~/.config/zellij/plugins/zjstatus.wasm" {
        format_left   "{mode} #[fg=#89B4FA,bold]{session}"
        format_center "{tabs}"
        format_right  "{command_git_branch} {datetime}"
        format_space  ""

        border_enabled  "false"
        border_char     "─"
        border_format   "#[fg=#6C7086]{char}"
        border_position "top"

        hide_frame_for_single_pane "true"

        mode_normal        "#[bg=#89B4FA,fg=#1E1E2E,bold] NORMAL "
        mode_locked        "#[bg=#F38BA8,fg=#1E1E2E,bold] LOCKED "
        mode_resize        "#[bg=#FAB387,fg=#1E1E2E,bold] RESIZE "
        mode_pane          "#[bg=#FAB387,fg=#1E1E2E,bold] PANE "
        mode_tab           "#[bg=#FAB387,fg=#1E1E2E,bold] TAB "
        mode_scroll        "#[bg=#FAB387,fg=#1E1E2E,bold] SCROLL "
        mode_enter_search  "#[bg=#FAB387,fg=#1E1E2E,bold] SEARCH "
        mode_search        "#[bg=#FAB387,fg=#1E1E2E,bold] SEARCH "
        mode_rename_tab    "#[bg=#FAB387,fg=#1E1E2E,bold] RENAME TAB "
        mode_rename_pane   "#[bg=#FAB387,fg=#1E1E2E,bold] RENAME PANE "
        mode_session       "#[bg=#FAB387,fg=#1E1E2E,bold] SESSION "
        mode_move          "#[bg=#FAB387,fg=#1E1E2E,bold] MOVE "
        mode_prompt        "#[bg=#FAB387,fg=#1E1E2E,bold] PROMPT "
        mode_tmux          "#[bg=#FAB387,fg=#1E1E2E,bold] TMUX "

        tab_normal   "#[fg=#6C7086] {name} "
        tab_active   "#[fg=#9399B2,bold,italic] {name} "

        command_git_branch_command     "git rev-parse --abbrev-ref HEAD"
        command_git_branch_format      "#[fg=blue] {stdout} "
        command_git_branch_interval    "10"
        command_git_branch_rendermode  "static"

        datetime        "#[fg=#6C7086,bold] {format} "
        datetime_format "%A, %d %b %Y %H:%M"
        datetime_timezone "Europe/Berlin"
      }
    }
    pane
}
